<div class="jumbotron text-center">
	<h2>Pron&oacute;stico del Tiempo</h2>
	
	<p>{{ message }} {{ clima.city.name }} , {{ clima.city.country }} </p>

	<p ng-show="loading"><i class="fa fa-spinner fa-spin"></i></p>

	<div class="panel-group">
		<div ng-repeat="item in clima.list" class="panel panel-default ">

			<div ng-show="$first" class="col-md-12">
			  	<img src="http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png" alt="{{ item.weather[0].description }} ">
				<span>{{ item.dt | date : 'EEEE, dd/MM' : fullDate}}</span>
				<h3 class="text-center"> {{ item.deg }}&deg; </h3>
			</div>
			<span class="clearfix"></span>
			<!-- <div class="panel-heading container-fluid" ng-click="showitem = !showitem" ng-if="$middle || $last"> -->
			<div class="panel-heading container-fluid" ng-click="showitem = !showitem" ng-show="!$first">

			<!-- <div class="panel-heading container-fluid" ng-click="showitem = !showitem"> -->
				<div class="col-md-9">

					<img src="http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png" alt="{{ item.weather[0].description }} ">
					<span>{{ item.dt | date : 'EEEE, dd/MM' : fullDate}}</span>
				</div>
				
				<span class="text-right col-md-3"> {{ item.deg }}&deg; </span>
			</div>
			<div ng-show="showitem" class="panel-collapse container-fluid">
				<p class="col-md-4 text-center">Humedad: {{ item.humidity }}</p>
				<p class="col-md-4 text-center">Presi&oacute;n: {{ item.pressure }}</p>
				<p class="col-md-4 text-center">Viento: {{ item.speed }}</p>
			</div>
			

		</div>
	</div>

	<pre class="text-left"> {{ clima | json }}</pre>

</div>